<mat-sidenav-container>

  <mat-sidenav mode="push" [fixedInViewport]="true">
    <mat-toolbar>
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="openCloseNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      @for (item of sidebarItems; track item.label) {
        <mat-list-item [routerLink]="item.url" (click)="openCloseNav()">
          <mat-icon [fontIcon]="item.icon" matListItemIcon></mat-icon>
          {{ item.label }}
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="openCloseNav()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="spacer"></span>

      <button mat-button>
        Logout
      </button>
    </mat-toolbar>

    <div class="container">
      <router-outlet/>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
