<div class="flex flex-column">
  <span class="text-lg mb-4">Register</span>

  <mat-form-field appearance="outline">
    <mat-label>User</mat-label>
    <input type="text" matInput placeholder="User">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input type="text" matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput  placeholder="Password">
  </mat-form-field>

  <button mat-flat-button><mat-icon>save</mat-icon>Sign In</button>

  <div class="flex justify-content-end mt-5">
    <a mat-raised-button routerLink="/auth/login">Do you already have an account?<mat-icon>open_in_new</mat-icon></a>
  </div>
</div>
